/* fonts
font-family: 'Concert One', cursive;
font-family: 'Viga', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Patrick Hand', cursive; */

/*-------------- INDEX.HTML ----------*/
/* flash messages */

body {
     background-image: url("simple-pattern.jpg");
}

.error {
     color: red;
}

.jumbotron {
     font-family: "Viga", sans-serif;
     background-color: #0d5f8a;
     color: white;
}

/*-------------- MESSAGES.HTML ----------*/
#navbar {
     margin: 10px 0 20px;
     background-color: #0d5f8a;
     font-family: "Viga", sans-serif;
}

#logoutBttn, #userName {
     color: white;
}

#headers {
     font-family: "Concert One", cursive;
}

/* messages.html --messages received */
#timeReceived {
     font-family: "Architects Daughter", cursive;
}
#contentReceived {
     font-family: "Architects Daughter", cursive;
     text-align: center;
}

#sendMsg {
     width: 100%;
     font-family: "Patrick Hand", cursive;
}
